85Predicction/
doctest/
files/
files2/
hipertension/
Images/
meanstd/
new_data/
latesttest/
UNET/img/
UNET/files/
UNET/resultados/
efficient.txt
efficient0.txt
efficientb0_m.txt
efficientb2.txt
efficientb4.txt
finalized_model.sav
readimage.py
readingcsv.py
__pycache__/